{{ define "main" }}
    <div class="homepage-content">
        {{ .Content }}
    </div>

    {{/*<div class="articles h-feed">*/}}
    {{/*    {{ $pages := where (where site.RegularPages "Type" "in" site.Params.mainSections) "Params.hidden" "!=" true }}*/}}
    {{/*    {{ range (.Paginate $pages).Pages }}*/}}
    {{/*        {{ partial "post-summary.html" . }}*/}}
    {{/*    {{ end }}*/}}
    {{/**/}}
    {{/*    {{ partial "pagination.html" . }}*/}}
    {{/*</div>*/}}

    
    <!-- Check if all params.anubis2 parameters are valid -->
    {{ $avaliableParams := slice "enablemathglobally" "enablecopycodebutton" "enablereadmorebutton" "colortheme" "enablecolorthemeswitcher" "police" "icp" "social" "customcss" "customjs" "services" "hidefooterattribution"}}
    {{ range $param, $value := site.Params.Anubis2 }}
        {{ if not (in $avaliableParams $param) }}
            {{ warnf "Anubis2: params.anubis2.%v is not a valid parameter" $param }}
        {{ end }}
    {{ end }}

    <!-- Check if all params.anubis2.services parameters are valid -->
    {{ $avaliableServices := slice "discus" "giscus" "utterances" "googleanalytics" "umami" }}
    {{ range $param, $value := site.Params.Anubis2.services }}
        {{ if not (in $avaliableServices $param) }}
            {{ warnf "Anubis2: params.anubis2.services.%v is not a valid parameter" $param }}
        {{ end }}
    {{ end }}
{{ end }}
